---
language: node_js
node_js:
  - 6
  - 8
cache:
  directories:
  - node_modules
  - packages/create-react-app/node_modules
  - packages/react-scripts/node_modules
install:
  - npm install -g bs-platform
script:
 - 'if [ $TEST_SUITE = "simple" ]; then tasks/e2e-simple.sh; fi'
 - 'if [ $TEST_SUITE = "installs" ]; then tasks/e2e-installs.sh; fi'
env:
  global:
    - USE_YARN=no
  matrix:
    - TEST_SUITE=simple
    - TEST_SUITE=installs
matrix:
  include:
    - node_js: 6
      env: USE_YARN=yes TEST_SUITE=simple
